$list_avatar: "Albert", "Melissa", "Ana", "Roy";

// MUDE ESTE VALOR PARA 1,2,3,4 PARA MUDAR O PERSONAGEM
$trocar_AVATAR: 2;

$avatar_help: nth($list_avatar, $trocar_AVATAR);






// transition
@mixin transition($duration:0.3s, $ease: ease, $pointer: true){
    @if($pointer){
    cursor: pointer;
    }
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -ms-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}



.help_avatar{
    position: fixed;    
    bottom: -10px;
    right: 40%;
    width: 200px;
    height: 200px;
    z-index: 41;
    // overflow: hidden;
    @include transition();
  transform: Scale(2);
    

    &:hover{
        bottom: 10px;

        .ballon_avatar_help{

        }
    }

    .avatar_gerente{
        @if($avatar_help != "Albert"){
            display:none;
        }
    }

    .avatar_conteudista{
        @if($avatar_help != "Melissa"){
            display:none;
        }
    }

    .avatar_tutora{
        @if($avatar_help != "Ana"){
            display:none;
        }
    }

    .avatar_estudante{
        @if($avatar_help != "Roy"){
            display:none;
        }
    }

    .circle {
        width: 200px;
        height: 200px;
       
        position: absolute;
        right: 0px;
        bottom:  -60px;
        border-radius: 200px;
        @include transition();
    }

    .help_avatar_capsule{
        position: relative;
        right: 130px;
        bottom: 43px;
        @include transition();

        .st0{fill:#2F3435;}
        .st1{fill:#100D2E;}
        .st2{fill:#020101;}
        .st3{fill:#580C34;}
        .st5{fill:#751245;}
        .st6{fill:#C11B70;}
        .st7{fill:#E3A98C;}
        .st9{fill:#F7CCB6;}
        .st12{fill:#D0E9EE;}
        .st13{fill:#F1A182;}
        .st15{fill:#F09A78;}
        .st16{fill:#F0F0EF;}
        .st17{fill:#CAE6E6;}
        .st18{fill:#28434A;}
        .st19{fill:#1F393D;}
        .st20{fill:#B83F35;}
        .st21{fill:#ECEBEB;}
        .st22{fill:#009091;}
        .st23{fill:#18A6A7;}
        .st24{fill:#007475;}
        .st25{fill:#00A7C5;}
        .st26{fill:#005A93;}
        .st28{fill:#390A06;}
        .st29{fill:#F09A5D;}
        .st30{fill:#EF9978;}
        .st31{fill:#F7CBB6;}
        .st33{fill:#9E9F9F;}
        .st34{fill:#F6C8B8;}
        .st35{fill:#180608;}
        .st36{fill:#EEA28A;}
        .st37{fill:#FFFFFF;}
        .st57{fill:#F6C9B8;}
        .st58{fill:#EDF7F9;}
        .st59{fill:#BCBCBC;}

        .st27{opacity:0.24;fill:#FFFFFF;}
        .st14{fill:none;stroke:#F09A78;stroke-width:23;stroke-linecap:round;stroke-miterlimit:10;}
        .st10{fill:none;stroke:#F7CCB6;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
        .st11{fill:none;stroke:#F1A182;stroke-width:20;stroke-linecap:round;stroke-miterlimit:10;}
        .st8{fill:none;stroke:#101B1E;stroke-width:26;stroke-linecap:round;stroke-miterlimit:10;}
        .st4{fill:none;stroke:#DDA689;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;}
        .st32{fill:none;stroke:#B46D57;stroke-linecap:round;stroke-miterlimit:10;}
        .st38{fill:none;stroke:#000000;stroke-width:4.75;stroke-linecap:round;stroke-miterlimit:10;}
        .st39{display:none;}
        .st40{display:inline;fill:none;stroke:#000000;stroke-width:1.88;stroke-miterlimit:10;}
        .st41{display:inline;fill:#030202;}
        .st42{fill:none;stroke:#000000;stroke-width:4.2;stroke-linecap:round;stroke-miterlimit:10;}
        .st43{display:inline;fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
        .st44{fill:none;stroke:#622A12;stroke-linecap:round;stroke-miterlimit:10;}
        .st45{fill:#461507;}
        .st46{margin-top: -10px; fill:#020101;}
        .st47{fill:none;stroke:#C5422D;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
        .st48{fill:none;stroke:#DB654F;stroke-width:4.5;stroke-linecap:round;stroke-miterlimit:10;}
        .st49{fill:none;stroke:#D53334;stroke-width:2;stroke-linejoin:round;}
        .st50{fill:none;stroke:#345258;stroke-width:26;stroke-linecap:round;stroke-miterlimit:10;}
        .st51{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
        .st52{fill:#121D1F;}
        .st53{fill:none;stroke:#F1A182;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;}
        .st54{fill:none;stroke:#F6C9B8;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
        .st55{fill:#003737;}
        .st56{fill:none;stroke:#F6C9B8;stroke-width:10;stroke-linecap:round;stroke-miterlimit:10;}
        .st60{fill:none;stroke:#F6C8B8;stroke-width:23;stroke-linecap:round;stroke-miterlimit:10;}

        .cls-3 {
            fill: #121d1f;
        }
    }

    .avatar_help_avatar{
        width: 330px;
        right: -510px;
        bottom: -170px;
        @include transition();
        transform-origin: bottom right;
        animation: anima_start 3s infinite;

        &:hover{
            bottom: -150px; 

            .animate_arm_front{
                animation: anima_arm_front 1.2s ;
                @include transition();
            }
                  
            .animate_arm_back{
                animation: anima_arm_back 1s ;    
            }
        }

        &:active{
            bottom: -145px 
        }
    }
}

.bracos_frente_content{
    position: absolute;
    bottom: 95px;
    right: 120px;
  
    svg {
        width: 50px;
        height: 110px;
    }
}

.animate_face{
    animation: anima_face 3s infinite;
}

.animate_head{
    animation: anima_head 3s infinite;
}

.animate_eyes1{
    animation: anima_eyes1 4s infinite;
}

.animate_mouth{
    animation: anima_mouth 3s infinite;
}

.animate_mouth2{
    animation: anima_mouth2 3s infinite;
}

.animate_arm_front{
    transform-origin: top right;
    transform: rotate(0deg)translate(3px, -10px);
    @include transition();
}

.animate_arm_back{
    transform-origin: top right;
    transform: rotate(0deg)  translate(1px, 1px);
    @include transition();
}

//BEGING Ballon avatar help--------------------
.ballon_avatar_help{
    position: fixed;
    bottom: 135px;
    right: 10px;
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border-radius: 200px;
    opacity: 0;
    z-index: 41;

    pointer-events: none;

    &:before{
        position: absolute;
        top: 42px;
        left: 20px; 
        display: block;
        content: "";
        background-color: #eee;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
    }

    .icon_question{
        &:before{
            position: absolute;
            display: block;
            left: 15px;
            top: 8px;
            font-family: 'Font Awesome 5 Free';
            content: '\f059';
            color: #fff;
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(39, 52, 79, 0.1);
        }
    }


}
//END Ballon avatar help--------------------


//BEGIN animate
/* Standard syntax */

@keyframes anima_start {
    0%   {transform: scaleY(1);}
    50%  {transform: scaleY(0.98);}    
    100%  {transform: scaleY(1);}
}

@keyframes anima_face {
    0%   {transform: translate(0px, 0px);}
    50%  {transform: translate(0px, 6px);}    
    100%  {transform: translate(0px, 0px);}
}

@keyframes anima_head {
    0%   {transform: scaleY(1);}
    50%  {transform: scaleY(0.99);}    
    100%  {transform: scaleY(1);}
}

@keyframes anima_eyes1 {
    0%   {opacity: 1;}
    45%  {opacity: 1;}
    50%  {opacity: 0;} 
    55%  {opacity: 1;}
    80%  {opacity: 1;}
    85%  {opacity: 0;} 
    90%  {opacity: 1;}
    95%  {opacity: 0;} 
    100% {opacity: 1;}
}

@keyframes anima_mouth {
    0%   {opacity: 1;}
    30%  {opacity: 1;} 
    33%  {opacity: 0;}  
    75%  {opacity: 0;}  
    78%  {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes anima_mouth2 {
    0%   {opacity: 0;}
    30%  {opacity: 0;} 
    33%  {opacity: 1;}  
    75%  {opacity: 1;}  
    78%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes anima_arm_front {
    0%   {transform: rotate(0deg)  translate(3px, -10px);}
    33%  {transform: rotate(35deg) translate(1px, 1px);}  
    100% {transform: rotate(0deg)translate(3px, -10px);}
}

@keyframes anima_arm_back {
    0%   {transform: rotate(0deg)  translate(1px, 1px);}
    33%  {transform: rotate(20deg) translate(115px, 100px);}  
    100% {transform: rotate(0deg)translate(1px, 1px);}
}








